.first-container{
  padding: 2%;
  margin: 0%;
  display: flex;
  flex-direction: row-reverse;
  
  justify-content: space-between;
  align-self: center;
  border: solid 2px;
  width: 150px;
  
  background-color: white;
}
.plus-button{
  
  width: 150px;
  
}
.count-container{
  
  /* border: solid 2px; */
  height: 100%;
  
}
.less-button{
  width: 350px;
  
}