.card-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 210px;
  height: fit-content;
  border: solid 1px;
  border-radius: 2%;
  margin: 15px;
  padding: 5px;
  background-color: white;
  transition: all .3s ease;
}
.card-container:hover{
  width: 215px;
  height: 290px;
  
  /* background-color: black; */
} 
.img-product{
  width: 90%;
  height: 43%;
  border: solid 1px;
  align-self: center;
}
.product-title{
  width: auto;
  height: auto;
}


